@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin center-both {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
Media Queries

0 - 600       Phone
600 - 900     Tablet portrait
900 - 1200    Tablet landscape
1200 - 1800   Normal desktop
> 1800        Big desktop
*/

/*
$breakpoint: phone | tab-port | tab-land | big-desktop

We use em's so that the media queries can respond to the browser font size
which the user can change any time.

1em = 16px <- default browser font size
*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    //600px
    @media (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    //900px
    @media (max-width: 57.25em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    //1200px
    @media (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    //1800px
    @media (min-width: 112.5em) {
      @content;
    }
  }
}
